@{
    Layout = "_Layout";
}

<form method="post">
    <table>
        <tr>
            <td>The id you want to remove::</td>
            <td><input type="text" name="id" /> </td>
        </tr>
    </table>
</form>