@{
    Layout = "_Layout";
}

<div>
    <h3>Изменение телефона</h3>
    <form method="post">
        <table>
            <tr>
                <td>Id:</td>
                <td><input type="text" name="id" /> </td>
            </tr>
            <tr>
                <td>Brand:</td>
                <td><input type="text" name="brand" /> </td>
            </tr>
            <tr>
                <td>Model:</td>
                <td><input type="text" name="model" /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" name="price" /></td>
            </tr>
            <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
        </table>
    </form>
</div>